@import url('https://fonts.googleapis.com/css?family=Pacifico:700|Noto%20Sans%20Siddham:400');
/* -*********************************************************- */
/* VARIABLES */

:root {
    --clr-primary-100: #f0e1d3;
    --clr-primary-400: #cd9767;
    --clr-primary-700: #473127;

    --fz-900: 4.21rem; /* 67.36px */
    --fz-800: 3.158rem; /* 50.56px */
    --fz-700: 2.369rem; /* 37.92px */
    --fz-600: 1.777rem; /* 28.48px */
    --fz-500: 1.333rem; /* 21.28px */
    --fz-400: 1rem; /* 12px */
    --fz-300: 0.75rem; /* 12px */

    --ff-heading: 'Pacifico', serif;
    --ff-body: 'Noto Sans Siddham', sans-serif;
}

/* -*********************************************************- */
/* RESET */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--ff-body);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--ff-heading);
    font-weight: 700;
}

button {
    font: inherit;
}

/* -*********************************************************- */
/* UTILS */
.font-body {
    font-family: var(--ff-body);
}

.font-heading {
    font-family: var(--ff-heading);
}

/* -*********************************************************- */
/* COMPONENTS */
