/* -*********************************************************- */
/* Fonts */
/* -*********************************************************- */
@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-ExtraLight.woff2') format(woff2);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-LightItalic.woff2') format(woff2);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Regular.woff2') format(woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-SemiBold.woff2') format(woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Bold.woff2') format(woff2);
    font-weight: 700;
    font-style: normal;
}

/* -*********************************************************- */
/* Variables and Reset */
/* -*********************************************************- */
:root {
    --fz-200: 0.625rem;
    --fz-300: 0.812rem;
    --fz-400: 1rem;
    --fz-500: 1.25rem;
    --fz-600: 1.562rem;
    --fz-700: 1.938rem;
    --fz-800: 2.438rem;
    --fz-900: 3.062rem;
    --fz-xl: 3.812rem;

    --cl-body: #1c1305;
    --cl-background: #fcf7f0;
    --cl-primary: #da8e32;
    --cl-secondary: #92ebe7;
    --cl-accent: #6286e3;

    --font-family: Poppins, sans-serif;
}

html {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    --wrapper-max-width: 1200px;

    margin: 0;
    font-family: var(--font-family);
    font-size: var(--fz-400);
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

img,
video,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    font-style: italic;
}

video {
    width: 100%;
    aspect-ratio: 16 / 9;
}

input,
textarea,
button,
select {
    font: inherit;
}

/* -*********************************************************- */
/* Utils */
/* -*********************************************************- */

.wrapper {
    --max-width: var(--wrapper-max-width, 70ch);
    --padding-inline: 1rem;
    width: min(var(--max-width), 100% - (var(--padding-inline) * 2));
    margin-inline: auto;
}

.flow > :not(:first-child) {
    margin-top: 1.125em;
}
