/* -*********************************************************- */
/* Fonts */
/* -*********************************************************- */
@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-ExtraLight.woff2') format(woff2);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-LightItalic.woff2') format(woff2);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Regular.woff2') format(woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-SemiBold.woff2') format(woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Bold.woff2') format(woff2);
    font-weight: 700;
    font-style: normal;
}

/* -*********************************************************- */
/* Variables and Reset */
/* -*********************************************************- */
:root {
    --fz-200: 0.625rem;
    --fz-300: 0.812rem;
    --fz-400: 1rem;
    --fz-500: 1.25rem;
    --fz-600: 1.562rem;
    --fz-700: 1.938rem;
    --fz-800: 2.438rem;
    --fz-900: 3.062rem;
    --fz-xl: 3.812rem;

    --cl-body: #1c1305;
    --cl-background: #fcf7f0;
    --cl-primary-100: #f7ead4;
    --cl-primary-400: #da8e32;
    --cl-secondary-400: #92ebe7;
    --cl-secondary-600: #24c2ba;
    --cl-accent-400: #799aec;
    --cl-accent-600: #1945b3;
    --cl-light: #f4f4f4;

    --font-family: Poppins, sans-serif;
}

html {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--fz-400);
    line-height: 1.5;
    background-color: var(--cl-background);
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color: var(--cl-accent-600);

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: var(--cl-secondary-600);
    }

    &:active {
        opacity: 0.5;
    }
}

img,
video,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    font-style: italic;
}

video {
    width: 100%;
    aspect-ratio: 16 / 9;
}

input,
textarea,
button,
select {
    font: inherit;
}

:focus-visible {
    --outline-size: 0.125rem;

    outline: var(--outline-size) solid var(--cl-secondary-600);
    box-shadow: 0 0 0.125rem calc(var(--outline-size) * 2)
        var(--cl-secondary-400);
    display: inline-block;
}

/* -*********************************************************- */
/* Utils */
/* -*********************************************************- */

.wrapper {
    --max-width: var(--wrapper-max-width, 70ch);
    --padding-inline: 1rem;
    width: min(var(--max-width), 100% - (var(--padding-inline) * 2));
    margin-inline: auto;
}

.flow > :not(:first-child) {
    margin-top: 1.125em;
}

.sr-only {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

/* -*********************************************************- */
/* Components */
/* -*********************************************************- */
.hamburguer {
    position: relative;
    transition: rotate 300ms, opacity 300ms;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
    display: inline-block;
    width: 1.625rem;
    height: 0.125rem;
    background-color: var(--cl-body);
    border-radius: 0.125rem;
}

.hamburguer::before,
.hamburguer::after {
    content: '';
    position: absolute;
    left: 0;
    transition: inherit;
}

.hamburguer::before {
    translate: 0 -5px;
}

.hamburguer::after {
    translate: 0 5px;
}

/* -*********************- */

.navbar {
    position: sticky;
    top: 0;
    display: grid;
    place-items: center;
    min-height: 80px;
    background-color: var(--cl-background);
    isolation: isolate;
}

.navbar::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--cl-primary-100);
    filter: blur(1rem);
}

.navbar .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-wrapper > h2 a {
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.navbar nav {
    display: grid;
    place-items: center;
}

.navbar .menu-toggle {
    display: grid;
    place-content: center;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--cl-body);
    padding: 0.75rem 0.5rem;
    border-radius: 0.25rem;

    &:hover {
        background-color: var(--cl-primary-100);
    }
}

@media screen and (width >= 600px) {
    .navbar .menu-toggle {
        display: none;
    }
}

@media screen and (width < 600px) {
    .navbar [aria-expanded='true'] .hamburguer {
        rotate: 45deg;
    }

    .navbar [aria-expanded='true'] .hamburguer::before {
        opacity: 0;
    }

    .navbar [aria-expanded='true'] .hamburguer::after {
        translate: 0;
        rotate: -90deg;
    }
}

.navbar .primary-navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    background-color: var(--cl-background);
    list-style-type: none;
}

.navbar .primary-navigation li a {
    color: inherit;
}

@media screen and (width < 600px) {
    .navbar [aria-expanded='true'] + .primary-navigation {
        display: flex;
    }
}

@media screen and (width >= 600px) {
    .navbar .primary-navigation {
        position: static;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
}

/* -*********************- */

.footer {
    padding: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--cl-secondary-400);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-wrapper > * {
    flex-basis: 100%;
}

@media screen and (width >= 600px) {
    .footer-wrapper {
        flex-direction: row;
    }
}

.footer hr {
    color: var(--cl-secondary-900);
    margin-top: 1rem;
}

.footer-col ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1.25rem;
    list-style-type: none;
}

.footer-col p:first-child {
    text-transform: uppercase;
    color: var(--cl-secondary-900);
}

.footer-col ul li a {
    color: black;
}

.footer .rights {
    margin-top: 1rem;
}
