/* Imports */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

/* Variables */

:root {
    /* Fonts */
    --main-font: Roboto;

    /* Colors */
    --red-color: #f80051;
    --blue-color: #072d7c;
    --dark-color: #171a21;
    --bg-primary-light: #eff6f7;
    --clr-overlay-bg-200: rgba(0, 0, 0, 0.2);
    --clr-overlay-bg-300: rgba(0, 0, 0, 0.3);

    /* Spacing */
    --extra-big-spacing: 80px;
    --big-spacing: 40px;
    --normal-spacing: 20px;
    --small-spacing: 10px;

    /* Box Shadow */
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* Border Radius */
    --border-radius: 5px;

    --border-radius-btn-big: 25px;
    --border-radius-btn-normal: 15px;
    --border-radius-btn-small: 5px;
}

/* Reset */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--main-font);
    color: var(--dark-color);
    background-color: var(--bg-primary-light);
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    font: inherit;
}

/* -*********************- */

/* Utilities */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.extra-big-spacing {
    height: var(--extra-big-spacing);
}

.big-spacing {
    height: var(--big-spacing);
}

.normal-spacing {
    height: var(--normal-spacing);
}

.small-spacing {
    height: var(--small-spacing);
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--clr-overlay-bg-200);
    max-width: 100vw;
    max-height: 100vh;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-separation {
    margin-top: var(--extra-big-spacing);
}

.flow > *:not(:first-child) {
    margin-block-start: 1em;
}

.columns {
}

/* -*********************- */
/* Components */
.btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--blue-color);
    color: var(--bg-primary-light);

    &.rounded {
        border-radius: var(--border-radius-btn-big);
    }
}

/* -*********************************************************- */
/* HEADER */
.header {
    position: relative;
    isolation: isolate;
    min-height: 70vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url('../img/hero-image.jpg');
    background-size: cover;
    background-position: center 5%;
}

/* Navbar */
.navbar > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu ul {
    display: flex;
    gap: var(--normal-spacing);
}

.navbar .logo {
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo img {
    height: 200px;
    object-fit: over;
    object-position: center;
}

/* Hero */
.hero h1 {
    margin-top: -10%;
    color: var(--bg-primary-light);
}

.hero h1 span {
    color: var(--red-color);
}

/* -*********************************************************- */
/* SECTIONS */
/* Consulting */
.consulting header {
    display: flex;
    gap: var(--normal-spacing);
    align-items: center;
}

.consulting header > * {
    flex-basis: 100%;
}

.consulting header .title-wrapper h2 {
    font-size: 1.5rem;
}

.consulting header .title-wrapper p {
    font-weight: 700;
    font-size: 5rem;
}

/* -*********************- */
/* Services */
.services h2 {
    text-align: center;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: fit-content;
    margin-top: var(--big-spacing);
}

.services-cards .card {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    gap: var(--normal-spacing);
    padding-inline: var(--big-spacing);
}

.services-cards .card:not(:last-child) {
    border-inline-end: 1px solid var(--dark-color);
}

.services-cards .card .content {
    display: grid;
    gap: var(--normal-spacing);
}

.services-cards .card .content .btn-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.services-cards .card .content .btn-link::after {
    content: url(../img/arrow-right.svg);

    display: inline-block;
    width: 20px;
    height: 20px;
}

/* -*********************- */

.services .services-trainer-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 280px;
}

.services-trainer-cards .card-image {
    position: relative;
}

.services-trainer-cards .card-image .image {
    height: 100%;
}

.services-trainer-cards .card-image .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.services-trainer-cards .card-image .content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: var(--clr-overlay-bg-300);
    color: white;
}

.services-trainer-cards .card-image .content footer .subtitle {
    font-weight: 800;
}

/* -*********************- */
/* Courses */

.courses header > p {
    font-style: italic;
    font-weight: 500;
}

.courses header > h2 {
    margin-top: calc(var(--normal-spacing) / 2);
}

.course-cards {
    --_gap: var(--normal-spacing);
    --_columns: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--_gap);
    margin-top: var(--big-spacing);
}

.course-card {
    --_total-gap: calc(var(--_gap) * (var(--_columns) - 1));

    flex-basis: calc((100% - var(--_total-gap)) / var(--_columns));
    min-width: 280px;

    display: grid;
    grid-template-rows: 220px auto;
}

.course-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.course-card .content {
    position: relative;
    padding: 0.5rem;
    background-color: white;
}

.course-card .content > *:not(:first-child) {
    margin: 0;
    margin-block-start: var(--normal-spacing);
}

.course-card .content .category-and-author span {
    font-weight: 500;
}

.course-card .content footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-card .content footer > div {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.course-card .content footer > div > img {
    width: 1.5rem;
}

.course-card .price {
    position: absolute;
    right: 1rem;
    top: -2.25rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--red-color);
    color: white;
}

.course-card .price p {
    display: grid;
    justify-items: center;
}

/* -*********************- */
/* Solutions */

.solutions {
    padding-block: var(--extra-big-spacing);
    background-color: white;
}

.solutions > .container {
    display: flex;
    justify-content: center;
    gap: var(--extra-big-spacing);
}

.solutions > .container > * {
    flex-basis: 100%;
}

.solutions .image {
    position: relative;
    display: flex;
    justify-content: flex-start;
    /* max-width: 400px; */
}

.solutions .image > img {
    width: 80%;
}

.solutions .image > p {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
    background-color: var(--dark-color);
    color: white;
    font-size: 2rem;
    font-weight: 500;
    max-width: 50%;
}

.solutions .content h2 {
    margin-block-start: 1rem;
    font-size: clamp(3.5rem, 12vw + 1rem, 5rem);
}

.solutions .content .btn {
    padding-inline: 2rem;
}

.solutions .content ul {
    padding-inline-start: 1em;
    list-style-type: disc;
}

.solutions .content ul > *:not(:first-child) {
    margin-block-start: 1em;
}

.solutions .partners {
    display: flex;
    gap: var(--extra-big-spacing);
}

.solutions .partners > img {
    height: 80px;
    opacity: 0.3;
}

/* -*********************- */
/* Testimonials */
.testimonials {
    padding-block: var(--big-spacing);
    padding-inline: 1rem;
    text-align: center;
}

.testimonials h2 {
    margin-top: var(--normal-spacing);
}

.testimonial-cards {
    --_gap: var(--normal-spacing);
    --_columns: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--_gap);
    margin-top: var(--normal-spacing);
}

.testimonial-card {
    --_total-gap: calc(var(--_gap) * (var(--_columns) - 1));

    flex-basis: calc((100% - var(--_total-gap)) / var(--_columns));
    min-width: 315px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: 1.25rem;
    background-color: white;
    text-align: start;
}

.testimonial-card .stars-wrapper {
    display: flex;
    gap: 0.75rem;
}

.testimonial-card .stars-wrapper > img {
    width: 1.25rem;
}

.testimonial-card footer p:first-of-type {
    font-weight: 500;
}

/* -*********************************************************- */
/* FOOTER */

.footer {
    background-color: var(--dark-color);
    padding-block: var(--big-spacing);
    color: white;
}

.footer > .container {
    display: flex;
    gap: var(--extra-big-spacing);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer > .container > * {
    flex-grow: 1;
}

.footer h2 {
    color: white;
}

.footer h2 span {
    color: var(--red-color);
}

.footer nav > p {
    font-size: 1.25rem;
    font-weight: 700;
}

.footer nav > ul {
    margin-top: var(--normal-spacing);
    display: flex;
    flex-direction: column;
    gap: var(--normal-spacing);
}
